<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/05-Python/How_to_Use_Python_Datetimes_Correctly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.narrativetext.co/data-hub/how-to-use-python-datetimes-correctly

In [1]:
from datetime import datetime

datetime(year, month, day hour, minute, seconds)

In [2]:
birthday = datetime(1994, 2, 15, 4, 25, 12)

In [3]:
birthday

datetime.datetime(1994, 2, 15, 4, 25, 12)

In [4]:
birthday.year

1994

In [5]:
birthday.month

2

In [6]:
birthday.day

15

In [7]:
birthday.hour

4

In [8]:
birthday.hour

4

In [9]:
birthday.minute

25

In [10]:
birthday.second

12

In [11]:
birthday.microsecond

0

In [12]:
birthday.weekday()

1

In [13]:
datetime.now()

datetime.datetime(2020, 12, 25, 15, 58, 52, 388543)

how do I calculate the time from one date to another? That's called time tracking, let's see how it works

In [14]:
# time tracking operation
datetime(2018, 1, 1) - datetime(2017, 1, 1)

datetime.timedelta(365)

In [15]:
datetime(2018, 1, 1) - datetime(2017, 1, 12)

datetime.timedelta(354)

we can run arithmetic operations between dates, which is great! But what if now you want to know how much time has passed from a given date to today, at this very moment? How do you think that can be done? Think about it for a moment!

In [17]:
datetime.now() - datetime(2020,1,1)

datetime.timedelta(359, 57677, 380459)

Using strptime

This method will help us to transform dates that are given in strings to a datetime format, which is quite useful!

In [18]:
parsed_date = datetime.strptime('Nov 15, 2020', '%b %d, %Y')

In [19]:
parsed_date

datetime.datetime(2020, 11, 15, 0, 0)

In [20]:
type(parsed_date)

datetime.datetime

In [21]:
parsed_date.month

11

In [22]:
parsed_date.year

2020

All right, now let's do the opposite operation, passing a datetime type as a parameter to the strftime function and converting it to a string. We do it like this:

In [23]:
date_string = datetime.strftime(datetime.now(), '%b %d, %Y')

In [24]:
date_string

'Dec 25, 2020'

Time object

A time object represents a time of day (local), independent of any particular day, and subject to adjustment through a tzinfo object.

In [25]:
from datetime import time

In [26]:
my_time = time(hour=12, minute=34, second=56, microsecond=123456)

In [27]:
my_time

datetime.time(12, 34, 56, 123456)

In [28]:
my_time.isoformat(timespec='minutes')

'12:34'

In [29]:
my_time.isoformat(timespec='microseconds')

'12:34:56.123456'

In [30]:
my_time.isoformat(timespec='auto')

'12:34:56.123456'

In [31]:
my_time.isoformat()

'12:34:56.123456'

timedelta object

A timedelta object represents a duration, the difference between two dates or times, which is quite useful! Let's look how it works. First we need to importa timedelta and then we need to call the different built-in functions

In [32]:
from datetime import timedelta

In [33]:
year = timedelta(days=365)

In [34]:
year

datetime.timedelta(365)

In [35]:
year.total_seconds()

31536000.0

In [36]:
ten_years = 10 * year

In [37]:
ten_years.total_seconds()

315360000.0

We've passed the parameter days = 365 to timedelta and then called two functions. One of them returns the total seconds that 365 days have.An the other one creates 10 years.

In [38]:
another_year = timedelta(weeks=40, days=84, hours=23,
                         minutes=50, seconds=600)  # adds up to 365 days

Naive & Aware methods
There are two types of date and time objects: "naive" & "aware".

An "aware" object has sufficient knowledge of the applicable algorithmic and political time settings, such as time zone and daylight savings information, to be able to position itself in relation to other "aware" objects.

An "aware" object is used to represent a specific moment in time that is not open to interpretation. Ignore Relativity

A "na√Øve" object does not contain enough information to place itself unambiguously in relation to other date/time objects

Whether a "ship" object represents Coordinated Universal Time (UTC), local time or the time of some other time zone depends purely on the program, just as it depends on the program whether a given number represents meters, miles or mass

The "naive" objects are easy to understand and work with, at the cost of ignoring some aspects of reality.

This finally serves us to work time zones, and time changes (depending on summer-winter) and American zones as for example EST or EDT

Supporting time zones at deeper levels of detail depends on the application.

The rules for time adjustment worldwide are more political than rational, change frequently, and there is no standard suitable for every application other than UTC

Objects of this type are immutable.

Objects of the date type are always naive.