<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/K_Prototypes_for_mixed_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls "/content/drive/My Drive/Colab Notebooks/

/bin/bash: -c: line 0: unexpected EOF while looking for matching `"'
/bin/bash: -c: line 1: syntax error: unexpected end of file

In [28]:
!pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/b2/55/d8ec1ae1f7e1e202a8a4184c6852a3ee993b202b0459672c699d0ac18fc8/kmodes-0.10.2-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.18.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.14.1)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.22.2.post1)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.4.1)
Installing collected packages: kmodes
Successfully installed kmodes-0.10.2

In [0]:
import pandas as pd
import numpy as np
from kmodes.kprototypes import KPrototypes

In [0]:
marketing_df = pd.read_csv('https://raw.githubusercontent.com/plthiyagu/Personnel/master/Dataset/marketing_cva_f.csv')

In [5]:
marketing_df.head()

  Customer       State  ...  Vehicle_Class avg_vehicle_age
0  BU79786  Washington  ...   Two-Door Car       40.696695
1  AI49188      Nevada  ...   Two-Door Car       48.755298
2  HB64268  Washington  ...  Four-Door Car       70.394474
3  OC83172      Oregon  ...   Two-Door Car       53.460212
4  XZ87318      Oregon  ...  Four-Door Car       32.811507

[5 rows x 12 columns]

In [0]:
marketing_df=marketing_df.drop(["Customer","Vehicle_Class","avg_vehicle_age","months_last_claim","Total_Claim_Amount"],axis=1)

In [7]:
marketing_df.head()

        State           CLV  ... monthly_premium  Months_Since_Policy_Inception
0  Washington   2763.519279  ...              69                              5
1      Nevada  12887.431650  ...             108                             38
2  Washington   2813.692575  ...              73                             44
3      Oregon   8256.297800  ...              69                             94
4      Oregon   5380.898636  ...              67                             13

[5 rows x 7 columns]

In [8]:
marketing_df.values
#convert pandas array to numpy array

array([['Washington', 2763.519279, 'Basic', ..., 'Suburban', 69, 5],
       ['Nevada', 12887.43165, 'Premium', ..., 'Suburban', 108, 38],
       ['Washington', 2813.692575, 'Basic', ..., 'Rural', 73, 44],
       ...,
       ['California', 23405.98798, 'Basic', ..., 'Urban', 73, 89],
       ['California', 3096.511217, 'Extended', ..., 'Suburban', 79, 28],
       ['California', 7524.442436, 'Extended', ..., 'Suburban', 96, 3]],
      dtype=object)

In [0]:
mark_array= marketing_df.values

In [10]:
mark_array

array([['Washington', 2763.519279, 'Basic', ..., 'Suburban', 69, 5],
       ['Nevada', 12887.43165, 'Premium', ..., 'Suburban', 108, 38],
       ['Washington', 2813.692575, 'Basic', ..., 'Rural', 73, 44],
       ...,
       ['California', 23405.98798, 'Basic', ..., 'Urban', 73, 89],
       ['California', 3096.511217, 'Extended', ..., 'Suburban', 79, 28],
       ['California', 7524.442436, 'Extended', ..., 'Suburban', 96, 3]],
      dtype=object)

In [0]:
mark_array[0:,1]=mark_array[0:,1].astype(float)
mark_array[0:,3]=mark_array[0:,3].astype(float)
mark_array[0:,5]=mark_array[0:,1].astype(float)
mark_array[0:,6]=mark_array[0:,1].astype(float)

In [12]:
mark_array

array([['Washington', 2763.519279, 'Basic', ..., 'Suburban', 2763.519279,
        2763.519279],
       ['Nevada', 12887.43165, 'Premium', ..., 'Suburban', 12887.43165,
        12887.43165],
       ['Washington', 2813.692575, 'Basic', ..., 'Rural', 2813.692575,
        2813.692575],
       ...,
       ['California', 23405.98798, 'Basic', ..., 'Urban', 23405.98798,
        23405.98798],
       ['California', 3096.511217, 'Extended', ..., 'Suburban',
        3096.511217, 3096.511217],
       ['California', 7524.442436, 'Extended', ..., 'Suburban',
        7524.442436, 7524.442436]], dtype=object)

In [16]:
kproto = KPrototypes(n_clusters=3, verbose=2,max_iter=20)
clusters=kproto.fit_predict(mark_array,categorical=[0,2,4])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 2597, ncost: 1618718337139.1187
Run: 1, iteration: 2/20, moves: 666, ncost: 1520164532025.2253
Run: 1, iteration: 3/20, moves: 182, ncost: 1512947741273.7834
Run: 1, iteration: 4/20, moves: 48, ncost: 1512503654402.735
Run: 1, iteration: 5/20, moves: 14, ncost: 1512444891233.8423
Run: 1, iteration: 6/20, moves: 16, ncost: 1512369371146.1777
Run: 1, iteration: 7/20, moves: 8, ncost: 1512350372990.2913
Run: 1, iteration: 8/20, moves: 3, ncost: 1512347632677.2935
Run: 1, iteration: 9/20, moves: 0, ncost: 1512347632677.2935
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 629, ncost: 1468822807246.6292
Run: 2, iteration: 2/20, moves: 382, ncost: 1451028381733.0476
Run: 2, iteration: 3/20, moves: 201, ncost: 1445917296436.8384
Run: 2, iteration: 4/20, moves: 117, ncost: 1444158787091.1611
Run: 2, iteration: 5/20, moves: 80, ncost: 1443378798292.5896
Run: 2, iteration: 6/20, moves: 29, ncost: 1443278940694.136
Run: 2, iteration: 7/20, moves: 5, ncost: 1443273093863.3965
Run: 2, iteration: 8/20, moves: 11, ncost: 1443259446475.1052
Run: 2, iteration: 9/20, moves: 3, ncost: 1443257448201.3225
Run: 2, iteration: 10/20, moves: 3, ncost: 1443256158791.5554
Run: 2, iteration: 11/20, moves: 14, ncost: 1443219079383.585
Run: 2, iteration: 12/20, moves: 13, ncost: 1443199107893.6062
Run: 2, iteration: 13/20, moves: 2, ncost: 1443198546362.4312
Run: 2, iteration: 14/20, moves: 0, ncost: 1443198546362.4312
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 1742, ncost: 1605006015861.7368
Run: 3, iteration: 2/20, moves: 620, ncost: 1527311358670.0737
Run: 3, iteration: 3/20, moves: 211, ncost: 1514785763433.4026
Run: 3, iteration: 4/20, moves: 71, ncost: 1512790485409.287
Run: 3, iteration: 5/20, moves: 30, ncost: 1512485942205.7583
Run: 3, iteration: 6/20, moves: 18, ncost: 1512400803995.6516
Run: 3, iteration: 7/20, moves: 11, ncost: 1512366036640.7336
Run: 3, iteration: 8/20, moves: 5, ncost: 1512349317670.8308
Run: 3, iteration: 9/20, moves: 2, ncost: 1512347632677.2925
Run: 3, iteration: 10/20, moves: 0, ncost: 1512347632677.2925
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 617, ncost: 1452037586605.3926
Run: 4, iteration: 2/20, moves: 192, ncost: 1444399010362.855
Run: 4, iteration: 3/20, moves: 74, ncost: 1443336395608.361
Run: 4, iteration: 4/20, moves: 26, ncost: 1443204009504.7952
Run: 4, iteration: 5/20, moves: 5, ncost: 1443201398264.2705
Run: 4, iteration: 6/20, moves: 0, ncost: 1443201398264.2705
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 605, ncost: 1483912409325.5837
Run: 5, iteration: 2/20, moves: 435, ncost: 1457150103812.737
Run: 5, iteration: 3/20, moves: 255, ncost: 1448020134287.5735
Run: 5, iteration: 4/20, moves: 150, ncost: 1444988636667.0146
Run: 5, iteration: 5/20, moves: 83, ncost: 1443882312022.3787
Run: 5, iteration: 6/20, moves: 68, ncost: 1443324171413.9272
Run: 5, iteration: 7/20, moves: 21, ncost: 1443275052177.492
Run: 5, iteration: 8/20, moves: 6, ncost: 1443268040464.6794
Run: 5, iteration: 9/20, moves: 7, ncost: 1443259446475.1062
Run: 5, iteration: 10/20, moves: 3, ncost: 1443257448201.3232
Run: 5, iteration: 11/20, moves: 3, ncost: 1443256158791.556
Run: 5, iteration: 12/20, moves: 14, ncost: 1443219079383.5845
Run: 5, iteration: 13/20, moves: 13, ncost: 1443199107893.6057
Run: 5, iteration: 14/20, moves: 2, ncost: 1443198546362.431
Run: 5, iteration: 15/20, moves: 0, ncost: 1443198546362.431
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 1505, ncost: 1594632082599.786
Run: 6, iteration: 2/20, moves: 570, ncost: 1518263150914.9285
Run: 6, iteration: 3/20, moves: 153, ncost: 1513018317572.1338
Run: 6, iteration: 4/20, moves: 47, ncost: 1512469726761.2397
Run: 6, iteration: 5/20, moves: 17, ncost: 1512407107908.6282
Run: 6, iteration: 6/20, moves: 10, ncost: 1512365108247.684
Run: 6, iteration: 7/20, moves: 4, ncost: 1512348055422.5461
Run: 6, iteration: 8/20, moves: 1, ncost: 1512346804314.7642
Run: 6, iteration: 9/20, moves: 0, ncost: 1512346804314.7642
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 584, ncost: 1501824158571.2031
Run: 7, iteration: 2/20, moves: 468, ncost: 1466736539592.3657
Run: 7, iteration: 3/20, moves: 312, ncost: 1451230623777.77
Run: 7, iteration: 4/20, moves: 191, ncost: 1445987289467.8828
Run: 7, iteration: 5/20, moves: 117, ncost: 1444199054537.1094
Run: 7, iteration: 6/20, moves: 81, ncost: 1443390527447.415
Run: 7, iteration: 7/20, moves: 30, ncost: 1443280434901.7988
Run: 7, iteration: 8/20, moves: 6, ncost: 1443273093863.396
Run: 7, iteration: 9/20, moves: 11, ncost: 1443259446475.1057
Run: 7, iteration: 10/20, moves: 3, ncost: 1443257448201.3228
Run: 7, iteration: 11/20, moves: 3, ncost: 1443256158791.556
Run: 7, iteration: 12/20, moves: 14, ncost: 1443219079383.585
Run: 7, iteration: 13/20, moves: 13, ncost: 1443199107893.6064
Run: 7, iteration: 14/20, moves: 2, ncost: 1443198546362.4307
Run: 7, iteration: 15/20, moves: 0, ncost: 1443198546362.4307
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 837, ncost: 1506528344677.3538
Run: 8, iteration: 2/20, moves: 530, ncost: 1465047210413.9312
Run: 8, iteration: 3/20, moves: 341, ncost: 1449358365259.5762
Run: 8, iteration: 4/20, moves: 172, ncost: 1445175897042.9705
Run: 8, iteration: 5/20, moves: 92, ncost: 1444010503266.8809
Run: 8, iteration: 6/20, moves: 47, ncost: 1443711721906.0466
Run: 8, iteration: 7/20, moves: 26, ncost: 1443588586875.7295
Run: 8, iteration: 8/20, moves: 29, ncost: 1443400393820.4128
Run: 8, iteration: 9/20, moves: 23, ncost: 1443297533153.7634
Run: 8, iteration: 10/20, moves: 22, ncost: 1443244941664.7693
Run: 8, iteration: 11/20, moves: 5, ncost: 1443240980632.4648
Run: 8, iteration: 12/20, moves: 3, ncost: 1443238783081.056
Run: 8, iteration: 13/20, moves: 0, ncost: 1443238783081.056
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 741, ncost: 1537486988727.1907
Run: 9, iteration: 2/20, moves: 219, ncost: 1516951970690.812
Run: 9, iteration: 3/20, moves: 86, ncost: 1513400678898.2878
Run: 9, iteration: 4/20, moves: 45, ncost: 1512442207917.6482
Run: 9, iteration: 5/20, moves: 10, ncost: 1512404601699.139
Run: 9, iteration: 6/20, moves: 6, ncost: 1512377189851.559
Run: 9, iteration: 7/20, moves: 6, ncost: 1512348884060.1843
Run: 9, iteration: 8/20, moves: 1, ncost: 1512347632677.2927
Run: 9, iteration: 9/20, moves: 0, ncost: 1512347632677.2927
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 894, ncost: 1550672045310.5437
Run: 10, iteration: 2/20, moves: 339, ncost: 1518733896860.4915
Run: 10, iteration: 3/20, moves: 109, ncost: 1514003538391.1426
Run: 10, iteration: 4/20, moves: 48, ncost: 1512633935959.6548
Run: 10, iteration: 5/20, moves: 26, ncost: 1512404074066.5889
Run: 10, iteration: 6/20, moves: 10, ncost: 1512372584356.3254
Run: 10, iteration: 7/20, moves: 6, ncost: 1512349317670.8318
Run: 10, iteration: 8/20, moves: 2, ncost: 1512347632677.292
Run: 10, iteration: 9/20, moves: 0, ncost: 1512347632677.292
Best run was number 7

In [17]:
print(kproto.cluster_centroids_)

[array([[ 7919.82751597, 26717.72464273,  7919.82751597,  7919.82751597],
       [ 8542.24358779, 54825.75968269,  8542.24358779,  8542.24358779],
       [ 7975.49044956, 83001.52576177,  7975.49044956,  7975.49044956]]), array([['California', 'Basic', 'Suburban'],
       ['California', 'Basic', 'Suburban'],
       ['California', 'Basic', 'Rural']], dtype='<U10')]

In [0]:
cluster_dict=[]

for c in clusters:
  cluster_dict.append(c)

In [19]:
cluster_dict

[1,
 1,
 1,
 1,
 1,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 0,
 1,
 1,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 1,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 2,
 0,
 2,
 1,
 1,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 2,
 2,
 1,
 1,
 2,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 2,
 2,
 1,
 1,
 2,
 1,
 0,
 0,
 0,
 2,
 1,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 1,
 2,
 2,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 1,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 2,
 1,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 2,
 1,
 2,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 2,
 2,
 0,
 2,
 1,
 1,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 0,
 1,
 1,
 2,
 2,
 0,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 1,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 0,
 1,
 2,
 0,
 2,
 2,
 1,
 2,
 0,
 1,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 1,
 2,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 0,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 0,
 1,
 2,
 1,
 0,
 0,
 1,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 2,
 1,
 1,
 0,
 2,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 2,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 2,
 0,
 2,
 0,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 1,
 1,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 0,
 2,
 0,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 1,
 0,
 1,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 1,
 2,
 2,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 2,
 0,
 2,
 2,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 1,
 ...]

In [0]:
marketing_df['clusters']=cluster_dict

In [22]:
marketing_df

           State           CLV  ... Months_Since_Policy_Inception  clusters
0     Washington   2763.519279  ...                             5         1
1         Nevada  12887.431650  ...                            38         1
2     Washington   2813.692575  ...                            44         1
3         Oregon   8256.297800  ...                            94         1
4         Oregon   5380.898636  ...                            13         1
...          ...           ...  ...                           ...       ...
6812  California   5032.165498  ...                            48         1
6813  California   4100.398533  ...                            58         1
6814  California  23405.987980  ...                            89         2
6815  California   3096.511217  ...                            28         0
6816  California   7524.442436  ...                             3         0

[6817 rows x 8 columns]

In [23]:
marketing_df[marketing_df['clusters']==1].head(10)

         State           CLV  ... Months_Since_Policy_Inception  clusters
0   Washington   2763.519279  ...                             5         1
1       Nevada  12887.431650  ...                            38         1
2   Washington   2813.692575  ...                            44         1
3       Oregon   8256.297800  ...                            94         1
4       Oregon   5380.898636  ...                            13         1
13      Oregon   5710.333115  ...                             1         1
14  California   8162.617053  ...                            21         1
15      Oregon   2872.051273  ...                            21         1
24      Nevada  18975.456110  ...                            14         1
25  Washington   5018.885233  ...                            17         1

[10 rows x 8 columns]

In [24]:
marketing_df[marketing_df['clusters']==2].head(10)

         State           CLV  ... Months_Since_Policy_Inception  clusters
7   California   8798.797003  ...                            82         2
8      Arizona   8819.018934  ...                            25         2
9   California   5384.431665  ...                            10         2
19      Oregon   5802.065978  ...                             1         2
21     Arizona  12902.560140  ...                            54         2
22      Oregon   3235.360468  ...                            44         2
27     Arizona   5744.229745  ...                            40         2
34  Washington   2443.665166  ...                            56         2
53      Oregon  22643.834780  ...                            12         2
56      Oregon   4974.801539  ...                            68         2

[10 rows x 8 columns]