In [0]:
import os
import pandas as pd
import wget
# html embedding
from IPython.display import Javascript
from IPython.core.display import display
from IPython.core.display import HTML

In [0]:
!pip install wget

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)

In [0]:
data_files = ['time_series_covid19_confirmed_global.csv','time_series_covid19_deaths_global.csv','time_series_covid19_recovered_global.csv']

In [0]:
!pwd

/content

In [0]:
for file in data_files:
    if os.path.exists(file):
        os.remove(file)

In [0]:
urls = ['https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv']
for url in urls:
    filename = wget.download(url)
    print('\n downloaded')

 downloaded

 downloaded

 downloaded

In [0]:
!ls

sample_data
time_series_covid19_confirmed_global.csv
time_series_covid19_deaths_global.csv
time_series_covid19_recovered_global.csv

In [0]:
conf_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('time_series_covid19_deaths_global.csv')
recv_df = pd.read_csv('time_series_covid19_recovered_global.csv')

In [0]:
conf_df.head()

  Province/State Country/Region      Lat  ...  4/16/20  4/17/20  4/18/20
0            NaN    Afghanistan  33.0000  ...      840      906      933
1            NaN        Albania  41.1533  ...      518      539      548
2            NaN        Algeria  28.0339  ...     2268     2418     2534
3            NaN        Andorra  42.5063  ...      673      696      704
4            NaN         Angola -11.2027  ...       19       19       24

[5 rows x 92 columns]

In [0]:
conf_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
       '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
       '4/15/20', '4/16/20', '4/17/20', '4/18/20'],
      dtype='object')

In [0]:
conf_df_grouped = conf_df.groupby('Country/Region')[conf_df.columns[4:]].sum().reset_index()
deaths_df_grouped = deaths_df.groupby('Country/Region')[deaths_df.columns[4:]].sum().reset_index()
recv_df_grouped = recv_df.groupby('Country/Region')[recv_df.columns[4:]].sum().reset_index()
conf_df_grouped.head()

  Country/Region  1/22/20  1/23/20  1/24/20  ...  4/15/20  4/16/20  4/17/20  4/18/20
0    Afghanistan        0        0        0  ...      784      840      906      933
1        Albania        0        0        0  ...      494      518      539      548
2        Algeria        0        0        0  ...     2160     2268     2418     2534
3        Andorra        0        0        0  ...      673      673      696      704
4         Angola        0        0        0  ...       19       19       19       24

[5 rows x 89 columns]

In [0]:
countries_infected = conf_df['Country/Region'].unique()
print ('total number of countries/regions affected: ', len(countries_infected))

total number of countries/regions affected:  185

In [0]:
conf_df_china = conf_df[conf_df['Country/Region']=='China']
provinces = conf_df_china['Province/State'].unique()
print ('total number of affected provinces in china: ', len(provinces))
conf_df_china.head()

total number of affected provinces in china:  33

   Province/State Country/Region      Lat  ...  4/16/20  4/17/20  4/18/20
49          Anhui          China  31.8257  ...      991      991      991
50        Beijing          China  40.1824  ...      593      593      593
51      Chongqing          China  30.0572  ...      579      579      579
52         Fujian          China  26.0789  ...      353      354      355
53          Gansu          China  37.8099  ...      139      139      139

[5 rows x 92 columns]

In [0]:
conf_df_grouped.to_csv('covid_19_race_bar_conf.csv', index=False)
deaths_df_grouped.to_csv('covid_19_race_bar_death.csv', index=False)
recv_df_grouped.to_csv('covid_19_race_bar_recv.csv', index=False)

In [0]:
country_flags = pd.read_csv('country_flags_url.csv')
country_flags.head()

FileNotFoundError: ignored