<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/Mean%2CMedian_and_Mode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import statistics
from fractions import Fraction as fr

In [2]:
data1 = [1, 3, 4, 5, 7, 9, 2] 
x= statistics.mean(data1)

In [3]:
x

4.428571428571429

In [4]:
data1 = [8,7,9,6,5,4,2] #odd
data2 = [1,3,5,5,5,7,8,9,10,10] #even

x= statistics.median(data1)
y= statistics.median(data2)

In [5]:
x,y

(6, 6.0)

In [7]:
data1 = (2, 3, 4, 5, 7, 9, 11) 
data2 = (2.4, 5.1, 6.7, 8.9) 
data3 = (fr(1, 2), fr(44, 12), fr(10, 3), fr(2, 3)) 
data4 = (-5, -1, -12, -19, -3) 
data5 = (-1, -2, -3, -4, 4, 3, 2, 1)

In [11]:
print("Median of data-set 1 is % s" % (statistics.median(data1))) 
print("Median of data-set 2 is % s" % (statistics.median(data2))) 
print("Median of data-set 3 is % s" % (statistics.median(data3))) 
print("Median of data-set 4 is % s" % (statistics.median(data4))) 
print("Median of data-set 5 is % s" % (statistics.median(data5)))

Median of data-set 1 is 5
Median of data-set 2 is 5.9
Median of data-set 3 is 2
Median of data-set 4 is -5
Median of data-set 5 is 0.0

In [12]:
set1 =[1, 2, 3, 3, 4, 4, 4, 5, 5, 6]
print("Mode of given data set is % s" % (statistics.mode(set1)))

Mode of given data set is 4

In [13]:
n_num = [1, 2, 3, 4, 5]
n = len(n_num)
sum = sum(n_num)
mean = sum / n
print("Mean / Average is: " + str(mean))

Mean / Average is: 3.0

In [14]:
n_num = [1, 2, 3, 4, 5]
n = len(n_num)
n_num.sort()
if n % 2 == 0:
  medan1 = n_num[n//2]
  median2 = n_num[n//2 - 1]
  median = (median1 + median2)/2
else:
  median = n_num[n//2]

print("Median is: " + str(median))

Median is: 3

In [16]:
from collections import Counter
n_num = [1, 2, 3, 4, 5, 5]

n = len(n_num)
data = Counter(n_num)
get_mode = dict(data)
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))]
if len(mode) == n:
  get_mode = "No mode found"
else:
  get_mode = "Mode is: " + ', '.join(map(str, mode))

print(get_mode)

Counter({5: 2, 1: 1, 2: 1, 3: 1, 4: 1})
Mode is: 5