<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/15-LeetCode/1491_Average_Salary_Excluding_the_Minimum_and_Maximum_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from typing import List
class Solution:
    def average(self, salary: List[int]) -> float:
        max_salary = max(salary)
        
        min_salary = min(salary)
        
        salary_sum = 0
        count = 0
        for s in salary:
            if s != min_salary and s != max_salary:
                salary_sum += s
                count += 1
                
        
        return salary_sum / count

In [3]:
sol = Solution()
salary = [4000,3000,1000,2000]
sol.average(salary)

2500.0

In [ ]:
class Solution:
    def average(self, salary):
        salary.remove(max(salary))
        salary.remove(min(salary))
        return (sum(salary)/len(salary))