<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/15-LeetCode/1523_Count_Odd_Numbers_in_an_Interval_Range_LeetCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Solution:
    def countOdds(self, low: int, high: int) -> int:
        if low % 2 != 0:
            if high % 2 != 0:
                return (high - low) // 2 + 1
            else:
                return (high - low) // 2 + 1
        else:
            if high % 2 != 0: 
                return (high - low) // 2 + 1
            else: 
                return (high - low) // 2

In [2]:
sol =Solution()
low = 3
high = 7
sol.countOdds(low,high)

3