<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/100_Python_Challenging_programming_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program which will find all such numbers which are
divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated
sequence on a single line.

In [ ]:
l=[]
for i in range(2000,3200):
  if (i%7 ==0) and (i%5 !=0) :
    l.append(str(i))


print(",".join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Write a program which can compute the factorial of a given
numbers.
The results should be printed in a comma-separated sequence on a
single line.
Suppose the following input is supplied to the program:
8T
hen, the output should be:
40320
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
def fact( num):
  if num==0:
    return 1
  else:
    return num * fact(num-1)

num= int(input())
print(fact(num))

5
120

With a given integral number n, write a program to generate a
dictionary that contains (i, i*i) such that is an integral number
between 1 and n (both included). and then the program should
print the dictionary.
Suppose the following input is supplied to the program:
8T
hen, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
n= int(input())
d= dict()
for i in range(1,n+1):
  d[i] = i*i

print(d)

Write a program which accepts a sequence of comma-separated
numbers from console and generate a list and a tuple which
contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.
tuple() method can convert list to tuple

In [ ]:
values= input()
l= values.split(",")
t = tuple(l)
print(l)
print(t)

Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class
methods.
Hints:
Use __init__ method to construct some parameters

In [ ]:
class InputOutString(object):
  def __init__(self):
    self.s=""

  def getString(self):
    self.s=input()
  def printString(self):
    print(self.s.upper())

strObj= InputOutString()
strObj.getString()
strObj.printString()

Write a program that calculates and prints the value according to
the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in
a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is
given to the program:
100,150,180
The output of the program should be:
18,22,24
Hints:
If the output received is in decimal form, it should be rounded
off to its nearest value (for example, if the output received is
26.0, it should be printed as 26)
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
import math
c=50
h=30
value=[]
item= [x for x in input().split(",")]

for d in item:
  value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

Write a program which takes 2 digits, X,Y as input and generates
4
a 2-dimensional array. The element value in the i-th row and j-th
column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]
Hints:
Note: In case of input data being supplied to the question, it
should be assumed to be a console input in a comma-separated
form.

In [ ]:
input_str= input()
dimensions= [int(x)for x in input_str.split(",")]
row_num= dimensions[0]
col_num=dimensions[1]
multilist=[[0 for col in range(col_num)] for row in range(row_num)]
for row in range(row_num):
  for col in range(col_num):
    multilist[row] [col]= row * col
print(multilist)

Write a program that accepts a comma separated sequence of words
as input and prints the words in a comma-separated sequence after
sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
items= [x for x in input().split(',')]
items.sort()
print(','.join(items))

Write a program that accepts sequence of lines as input and
prints the lines after making all characters in the sentence
capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
lines=list()
while True:
  s= input()
  if s:
    lines.append(s.upper())
  else:
    break
for sentence in lines:
  print(sentence)

Write a program that accepts a sequence of whitespace separated
words as input and prints the words after removing all duplicate
words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.
We use set container to remove duplicated data automatically and
then use sorted() to sort the data.

In [ ]:
s= input()
words = [word for word in s.split(" ")]
print(" ".join(sorted(list(set(words)))))

Question:
Write a program which accepts a sequence of comma separated 4
digit binary numbers as its input and then check whether they are
divisible by 5 or not. The numbers that are divisible by 5 are to
be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
value=[]
items=[x for x in input().split(',')]
for p in items:
  intp = int(p,2)
  if not intp%5:
    value.append(p)
print(",".join(value))

0100,0011,1010,1001
1010

Write a program, which will find all such numbers between 1000
and 3000 (both included) such that each digit of the number is an
even number.
The numbers obtained should be printed in a comma-separated
sequence on a single line.
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
values=[]

for i in range(1000,3001):
  s= str(i)
  if (int(s[0]) %2==0) and (int(s[1])%2==0) and ( int(s[2])%2==0) and (int(s[3])%2==0):
    values.append(s)

print(",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

Write a program that accepts a sentence and calculate the number
of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
s=input()
d= {"DIGITS":0,"LETTERS":0}

for c in s:
  if c.isdigit():
    d["DIGITS"]+=1
  elif c.isalpha():
    d["LETTERS"]+=1
  else:
    pass

print("LETTERS",d["LETTERS"])
print( "DIGITS", d["DIGITS"])

hello world 123 !
LETTERS 10
DIGITS 3

Question:
Write a program that accepts a sentence and calculate the number
of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9
8
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
s=input()
d={"UPPER CASE":0, "LOWER CASE":0}
for c in s:
  if c.isupper():
    d["UPPER CASE"] += 1
  elif c.islower():
    d["LOWER CASE"] +=1
  else:
    pass

print("UPPER CASE", d["UPPER CASE"])
print("LOWER CASE", d["LOWER CASE"])

Hello Woorld!
UPPER CASE 2
LOWER CASE 9

Write a program that computes the value of a+aa+aaa+aaaa with a
given digit as the value of a.
Suppose the following input is supplied to the program:
9T
hen, the output should be:
11106
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
a= input()
n1=int("%s" %a)
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print(n1+n2+n3+n4)

9
11106

Use a list comprehension to square each odd number in a list. The
list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
9
Then, the output should be:
1,3,5,7,9
Hints:
In case of input data being supplied to the question, it should
be assumed to be a console input.

In [ ]:
values= input()
numbers = [x for x in values.split(",") if int(x) %2 !=0]
print(",".join(numbers))

1,2,3,4,5,6,7,8,9
1,3,5,7,9

Write a program that computes the net amount of a bank account
based a transaction log from console input. The transaction log
format is shown as following:
D 100
W 200
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

In [ ]:
net_amount=0
while True:
  s=input()
  if not s:
    break
  values=s.split(",")
  operation= values[0]
  amount=int(values[1])
  if operation == "D":
    net_amount += amount
  elif operation == "W":
    net_amount -= amount
  else:
    pass
print(net_amount)

D,100
W,300

-200

A website requires the users to input username and password to
register. Write a program to check the validity of password input
by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated
passwords and will check them according to the above criteria.
Passwords that match the criteria are to be printed, each
separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [ ]:
import re
value = []
items = [x for x in input().split(",")]
for p in items:
  if len(p) < 6 or len(p) >12:
    continue
  else:
    pass
  if not re.search("[a-z]",p):
    continue
  elif not re.search("[0-9]",p):
    continue
  elif not re.search("[A-Z]",p):
    continue
  elif not re.search("[$#@]",p):
    continue
  elif re.search("\s",p):
    continue
  else:
    pass
  value.append(p)

print(",".join(value))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

You are required to write a program to sort the (name, age,
height) tuples by ascending order where name is string, age and
height are numbers. The tuples are input by console. The sort
criteria is:
1: Sort based on name;
2: Then sort based on age;
3: Then sort by score.
The priority is that name > age > score.
If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17',
'93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [ ]:
import operator
l =[]
while True:
  s = input()
  if not s:
    break
  l.append(tuple(s.split(",")))
print( sorted(l, key=operator.itemgetter(0,1,2)))

Json,21,85
Tom,19,80

[('Json', '21', '85'), ('Tom', '19', '80')]

Define a class with a generator which can iterate the numbers,
which are divisible by 7, between a given range 0 and n.
12
Hints:
Consider use yield

In [ ]:
def put_numbers(n):
  i=0
  while i<n:
    j=i
    i=i+1
    if j %7 ==0:
      yield j
for i in put_numbers(100):
  print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

A robot moves in a plane starting from the original point (0,0).
The robot can move toward UP, DOWN, LEFT and RIGHT with a given
steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡T
he numbers after the direction are steps. Please write a program
to compute the distance from current position after a sequence of
movement and original point. If the distance is a float, then
just print the nearest integer.
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2

In [ ]:
import math
pos = [0,0]
while True:
  s= input()
  if not s:
    break
  movement= s.split(" ")
  direction = movement[0]
  steps = int(movement[1])
  if direction == "UP":
    pos[0] += steps
  elif direction == "DOWN":
    pos[0] -= steps
  elif direction == "LEFT":
    pos[1] -= steps
  elif direction == "RIGHT":
    pos[1] += steps
  else:
    pass
print(int(round(math.sqrt(pos[1]**2+pos[0]**2))))

UP 5
DOWN 3
LEFT 3
RIGHT 2

2

Write a program to compute the frequency of the words from the
input. The output should output after sorting the key
alphanumerically.
Suppose the following input is supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read
Python 2 or Python 3.
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

In [ ]:
freq= {}
line= input()
for word in line.split():
  freq[word]= freq.get(word,0) +1
words= freq.keys()
print(words)
words=sorted(words)
for w in words:
  print("%s:%d" % (w,freq[w]))

Question:
Write a method which can calculate square value of number

In [ ]:
def square(num):
  return num ** 2
print(square(5))
print(square(6))

25
36

Question:
Python has many built-in functions, and if you do not know
how to use it, you can read document online or find some books.
But Python has a built-in document function for every built-in
functions.
Please write a program to print some Python built-in
functions documents, such as abs(), int(), raw_input()
And add document for your own function

In [ ]:
print (abs.__doc__)
print (int.__doc__)
print (input.__doc__)
def square(num):
  '''Return the square value of the input number.
  The input number must be integer.
  '''
  return num ** 2
print (square(2))
print (square.__doc__)

Return the absolute value of the argument.
int(x=0) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

4
Return the square value of the input number.
  The input number must be integer.

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

Question:
Define a class, which have a class parameter and have a same
instance parameter.
Hints:
Define a instance parameter, need add it in __init__ method
You can init a object with construct parameter or set the
value later

In [ ]:
class Person:
  # Define the class parameter "name"
  name= "Person"
  def __init__(self, name = None):
    # self.name is the instance parameter
    self.name = name
jeffrey = Person("Jeffrey")
print("%s name is %s" % (Person.name, jeffrey.name))
nico = Person()
nico.name = "Nico"
print("%s name is %s" % (Person.name, nico.name))

Person name is Jeffrey
Person name is Nico

Question:
Define a function which can compute the sum of two numbers.

In [ ]:
def sum_function(number1,number2):
  return number1+ number2
print(sum_function(2,4))

6

Define a function that can convert a integer into a string and
print it in console.

In [ ]:
def print_value(n):
  print(str(n))
print_value("55")

55

Define a function that can receive two integral numbers in string
form and compute their sum and then print it in console.

In [ ]:
def print_values(s1 ,s2):
  print(int(s1),int(s2))

print_values("3","4")

3 4

Define a function that can accept two strings as input and print
the string with maximum length in console. If two strings have
the same length, then the function should print al l strings line
by line.

In [ ]:
def printValue(s1,s2):
  len1=len(s1)
  len2=len(s2)
  if len1>len2:
    print(s1)
  elif len2 > len1:
    print(s2)
  else:
    print(s1)
    print(s2)
printValue("one","three")

three

Define a function that can accept an integer number as input and
print the "It is an even number" if the number is even, otherwise
print "It is an odd number".

In [ ]:
def check_value(n):
  if n%2 ==0:
    print("Its an Even number")
  else:
    print("Its an Odd number")

check_value(10)

Its an Even number

Define a function which can print a dictionary where the keys are
numbers between 1 and 3 (both included) and the values are square
of keys.

In [ ]:
def printDict():
  d= dict()
  d[1]= 1
  d[2]= 2**2
  d[3]= 3 ** 3
  print(d)

printDict()

{1: 1, 2: 4, 3: 27}

Define a function which can print a dictionary where the keys are
numbers between 1 and 20 (both included) and the values are
square of keys.

In [ ]:
def printDict():
  d=dict()
  for i in range(1,21):    
    d[i]=i **2
  print(d)
printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

Define a function which can generate a dictionary where the keys
are numbers between 1 and 20 (both included) and the values are
square of keys. The function should just print the values only.

In [ ]:
def printDict():
  d= dict()
  for i in range(1,21):
    d[i] =i **2
  #print(d)
  for k in d.keys():
    print(k)
printDict()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Define a function which can generate and print a list where the
values are square of numbers between 1 and 20 (both included).

In [ ]:
def printList():

  li = list()
  for i in range(1,21):
    li.append(i**2)
  print(li)

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Define a function which can generate a list where the values are
square of numbers between 1 and 20 (both included). Then the
function needs to print the first 5 elements in the list.

In [ ]:
def printList():
  li= list()
  for i in range(1,21):
    li.append(i ** 2)
  print(li[:5])
printList()

[1, 4, 9, 16, 25]

Define a function which can generate a list where the values are
square of numbers between 1 and 20 (both included). Then the
function needs to print the last 5 elements in the list.

In [ ]:
def printList():
  li= list()
  for i in range(1,21):
    li.append(i ** 2)
  print(li[-5:])
printList()

[256, 289, 324, 361, 400]

Define a function which can generate a list where the values are
square of numbers between 1 and 20 (both included). Then the
function needs to print all values except the first 5 elements in
the list.

In [ ]:
def printList():
  li= list()
  for i in range(1,21):
    li.append(i ** 2)
  print(li[5:])
printList()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Define a function which can generate and print a tuple where the
value are square of numbers between 1 and 20 (both included).

In [ ]:
def printTuple():
  li= list()
  for i in range(1,21):
    li.append(i ** 2)
  print(tuple(li))
printList()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to
print the first half values in one line and the last half values
in one line.

In [ ]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp1= tp[:5]
tp2 = tp[5:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

Write a program to generate and print another tuple whose values
are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [ ]:
tp=(1,2,3,4,5,6,7,8,9,10)
li= list()
for i in tp:
  print(i)
  if tp[i]%2 ==0:
    li.append(tp[i])

tp2= tuple(li)
print(tp2)

1
2
3
4
5
6
7
8
9
10

IndexError: ignored

Write a program which accepts a string as input to print "Yes" if
the string is "yes" or "YES" or "Yes", otherwise print "No".

In [ ]:
s= input()
if s == "yes" or s== "YES" or s=="Yes":
  print("yes")
else:
  print("no")

yes
yes

Write a program which can filter even numbers in a list by using
filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]
even_numbers= filter(lambda x: x%2 ==0, li)
print(list(even_numbers))

[2, 4, 6, 8, 10]

Write a program which can map() to make a list whose elements are
square of elements in [1,2,3,4,5,6,7,8,9,10].

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]
squaredNumbers= map(lambda x: x**2,li)
print(list(squaredNumbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write a program which can filter() to make a list whose elements
are even number between 1 and 20 (both included).

In [ ]:
evenNumbers = filter(lambda x: x%2==0, range(1,21))
print (list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Write a program which can map() to make a list whose elements are
square of numbers between 1 and 20 (both included).

In [ ]:
squaredNumbers = map(lambda x: x**2, range(1,21))
print(list(squaredNumbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Define a class named American which has a static method called
printNationality.

In [ ]:
class American(object):
  @staticmethod
  def printNationality():
    print ("America")
anAmerican = American()
anAmerican.printNationality()
American.printNationality()

America
America

Define a class named American and its subclass NewYorker.

In [ ]:
class American(object):
  pass

class NewYorker(object):
  pass

anAmerican = American()
aNewYorker = NewYorker()
print(anAmerican)
print(aNewYorker)

<__main__.American object at 0x7f9b4ae5d3c8>
<__main__.NewYorker object at 0x7f9b4ae5d390>

Define a class named Circle which can be constructed by a radius.
The Circle class has a method which can compute the area.

In [ ]:
class Circle(object):
  def __init__(self,r):
    self.radius =r
  def area(self):
    return self.radius**2*3.14

aCircle= Circle(2)
print(aCircle.area())

12.56

Define a class named Rectangle which can be constructed by a
length and width. The Rectangle class has a method which can
compute the area.

In [ ]:
class Rectangle(object):
  def __init__(self,l,w):
    self.length=l
    self.width = w
  def area(self):
    return self.length* self.width

aRectangle = Rectangle(2,10)
print( aRectangle.area())

20

class has an init function which takes a length as argument. Both
classes have a area function which can print the area of the
shape where Shape's area is 0 by default.

In [ ]:
class Shape(object):

  def __init__(self):
    pass
  def area(self):
    return 0
class Square(object):

  def __init__(self,l):
    self.length= l
  def area(self):
    return self.length * self.length

aSquare = Square(3)
print(aSquare.area())

9

Please raise a RuntimeError exception.

In [ ]:
raise RuntimeError('something wrong')

RuntimeError: ignored

Write a function to compute 5/0 and use try/except to catch the
exceptions.

In [ ]:
def throws():
  return 5/0

try:
  throws()
except ZeroDivisionError:
  print("Zero Division Error")
finally:
  print("In Finally block for cleanup")

Zero Division Error
In Finally block for cleanup

Define a custom exception class which takes a string message as
attribute.

In [ ]:
class myError(Exception):
  """ My own exception class
  Attributes:
    msg  -- explanation of the error
  """
  def __init__(self,msg):
    self.msg= msg
    print(msg)
  
error = myError("Something Wrong")

Something Wrong

Assuming that we have some email addresses in the
"username@companyname.com" format, please write program to print
the user name of a given email address. Both user names and
company names are composed of letters only.

In [2]:
import re
emailaddress= input()
pat2 = "(\w+)@(\w+)\.(com)"
r2= re.match(pat2,emailaddress)
print(r2.group(2))

plthiyagu@google.com
google

Write a program which accepts a sequence of words separated by
whitespace as input to print the words composed of digits only.

In [4]:
import re
s= input()
print(re.findall("\d+",s))

2 and 6 and 6 only
['2', '6', '6']

Print a unicode string "hello world".

In [5]:
unicodeString = u"hello world!"
print(unicodeString)

hello world!

Write a program to read an ASCII string and to convert it to a
32 unicode string encoded by utf-8.

In [ ]:
s= input()
u= s.decode('utf-8')
print(u)

Write a special comment to indicate a Python source code file is
in unicode

In [9]:
# -*- coding: utf-8 -*-

Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n
input by console (n>0).

In [11]:
n=int(input())
sum=0.0
for i in range(1,n+1):
  sum += float(float(i)/(i+1))
print(sum)

10
7.980122655122655

Write a program to compute:
f(n)=f(n-1)+100 when n>0
and f(0)=1
with a given n input by console (n>0).

In [1]:
def f(n):
  if n==0:
    return 0
  else:
    return f(n-1)+100
n=int(input())
print(f(n))

10
1000

The Fibonacci Sequence is computed based on the following
formula:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1
Please write a program to compute the value of f(n) with a given n input by console.

In [1]:
def f(n):
  if n==0: return 0
  if n==1: return 1
  else: return f(n-1) + f(n-2)

n= int(input())
f(n)

7

13

The Fibonacci Sequence is computed based on the following
formula:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1
Please write a program using list comprehension to print the
Fibonacci Sequence in comma separated form with a given n input
by console

In [5]:
def f(n):
  if n==0: return 0
  elif n==1: return 1
  else: return f(n-1) + f(n-2)


n= int(input())
values= [str(f(x)) for x in range (0,n+1)]
print(",".join(values))

5
0,1,1,2,3,5

Please write a program using generator to print the even numbers
between 0 and n in comma separated form while n is input by
console.

In [2]:
def EvenGenerator(n):
  i=0
  while i<=n:
    if i %2 ==0:
      yield i
    i += 1
n= int(input())
values = []
for i in EvenGenerator(n):
  values.append(str(i))

print(",".join(values))

5
0,2,4

Please write a program using generator to print the numbers which
can be divisible by 5 and 7 between 0 and n in comma separated
form while n is input by console.

In [7]:
def NumGenerator(n):
  for i in range(n+1):
    if i % 5 ==0 and i % 7 ==0:
      yield i

n= int(input())
values =[]
for i in NumGenerator(n):
  values.append(str(i))

print(",".join(values))

100
0,35,70

Please write assert statements to verify that every number in the
list [2,4,6,8] is even.

In [8]:
li =[2,4,6,8]
for i in li:
  assert i % 2 == 0

Please write a program which accepts basic mathematic expression
from console and print the evaluation result.

In [11]:
expression = input()
print(eval(expression))

35+3
38

Please write a binary search function which searches an item in a
sorted list. The function should return the index of element to
be searched in the list.

In [13]:
import math
def bin_search(li, element):
  bottom =0
  top= len(li)-1
  index= -1
  while top>=bottom and index==-1:
    mid = int(math.floor((top+bottom)/2.0))
    if li[mid] == element:
      index= mid
    elif li[mid] >element:
      top =mid -1
    else:
      bottom = mid+1
  return index
li=[2,5,7,9,11,17,222]
print (bin_search(li,11))
print(bin_search(li,12))

4
-1

Please write a binary search function which searches an item in a
sorted list. The function should return the index of element to
be searched in the list.

In [ ]:
import math
def bin_search(li, element):
  bottom =0
  top= len(li)-1
  index= -1
  while top>=bottom and index==-1:
    mid = int(math.floor((top+bottom)/2.0))
    if li[mid] == element:
      index= mid
    elif li[mid] >element:
      top =mid -1
    else:
      bottom = mid+1
  return index
li=[2,5,7,9,11,17,222]
print (bin_search(li,11))
print(bin_search(li,12))

In [14]:
import random
print(random.random()*100)

65.25631587636772

Please generate a random float where the value is between 5 and
95 using Python math module.

In [15]:
import random
print(random.random()*100-5)

34.6215748838296

Please write a program to output a random even number between 0
and 10 inclusive using random module and list comprehension

In [1]:
import random
print(random.choice([i for i in range(11) if i %2 ==0]))

8

Please write a program to output a random number, which is
divisible by 5 and 7, between 0 and 10 inclusive using random
module and list comprehension.

In [2]:
import random
print(random.choice([i for i in range (201) if i % 5 ==0 and i %7 ==0]))

105

Please write a program to generate a list with 5 random numbers
between 100 and 200 inclusive.

In [6]:
print(random.sample(range(100),5))

[0, 16, 13, 19, 28]

Please write a program to randomly generate a list with 5
numbers, which are divisible by 5 and 7 , between 1 and 1000
inclusive.

In [9]:
import random
print(random.sample([i for i in range(1,1001) if i % 5 ==0 and i %7 == 0],5))

[280, 595, 735, 665, 770]

Please write a program to randomly print a integer number between
7 and 15 inclusive.

In [10]:
import random
print(random.randrange(7,16))

13

Please write a program to compress and decompress the string
"hello world!hello world!hello world!hello world!".

In [11]:
import zlib
s= 'hello world!hello world!hello world!hello world!hello world!'
t=zlib.compress(s)
print(t)
print(zlib.decompress(t))

TypeError: ignored

Please write a program to print the running time of execution of
"1+1" for 100 times.

Please write a program to print the running time of execution of
"1+1" for 100 times.

In [1]:
from timeit import Timer
t= Timer("for i in range(100): 1+1")
print(t.timeit())

1.7437062220000143

Please write a program to shuffle and print the list [3,6,7,8].

In [2]:
from random import shuffle
li =[3,6,7,8]
shuffle(li)
print(li)

[3, 7, 8, 6]

Please write a program to generate all sentences where subject is
in ["I", "You"] and verb is in ["Play", "Love"] and the object is
in ["Hockey","Football"].

In [3]:
subjects =["I","You"]
verbs= ["Play","Love"]
objects = ["Hockey","FootBall"]
for i in range (len(subjects)):
  for j in range(len(verbs)):
    for k in range(len(objects)):
      sentence= "%s %s %s." % (subjects[i],verbs[j],objects[k])
      print(sentence)

I Play Hockey.
I Play FootBall.
I Love Hockey.
I Love FootBall.
You Play Hockey.
You Play FootBall.
You Love Hockey.
You Love FootBall.

Please write a program to print the list after removing delete
even numbers in [5,6,77,45,22,12,24].

In [4]:
li =[5,6,77,45,22,12,24]
li = [x for x in li if x%2 !=0]
print(li)

[5, 77, 45]

By using list comprehension, please write a program to print the
list after removing delete numbers which are divisible by 5 and 7
in [12,24,35,70,88,120,155].

In [5]:
li=[12,24,35,70,88,120,155]
li = [x for x in li if x % 5 !=0 and x% 7 !=0]
print(li)

[12, 24, 88]

By using list comprehension, please write a program to print the
list after removing the 0th, 2nd, 4th,6th numbers in
[12,24,35,70,88,120,155].

In [6]:
li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i%2!=0]
print(li)

[24, 70, 120]


By using list comprehension, please write a program generate a 3*
45
5*8 3D array whose each element is 0.

In [7]:
array =[[[0 for col in range (8)] for col in range(5)] for row in range(3)]
print(array)

[[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]]

By using list comprehension, please write a program to print the
list after removing the 0th,4th,5th numbers in
[12,24,35,70,88,120,155].

In [8]:
li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

By using list comprehension, please write a program to print the
list after removing the value 24 in [12,24,35,24,88,120,155].

In [9]:
li = [12,24,35,24,88,120,155]
li = [x for x in li if x!=24]
print(li)

[12, 35, 88, 120, 155]


With a given list [12,24,35,24,88,120,155,88,120,155], write a
program to print this list after removing all duplicate values
with original order reserved.

In [11]:
def removeDuplicate(li):
  newli=[]
  seen= set()
  for item in li:
    if item not in seen:
      seen.add(item)
      newli.append(item)
  return newli
li=[12,24,35,24,88,120,155,88,120,155]
print(removeDuplicate(li))

[12, 24, 35, 88, 120, 155]

Define a class Person and its two child classes: Male and Female.
All classes have a method "getGender" which can print "Male" for
Male class and "Female" for Female class.

In [13]:
class Person(object):

  def getGender(self):
    return "Unknown"

class Male(object):

  def getGender(self):
    return "Male"

class Female(object):

  def getGender(self):
    return "Female"

aMale= Male()
aFemale = Female()

print(aMale.getGender())
print(aFemale.getGender())

Male
Female

Please write a program which count and print the numbers of each
character in a string input by console.

In [16]:
dic = {}
s= input()
for s in s:
  dic[s]= dic.get(s,0) +1
print("\n".join(['%s %s' % (k,v) for k,v in dic.items()]))

abcdefgabc
a 2
b 2
c 2
d 1
e 1
f 1
g 1

Please write a program which accepts a string from console and
print it in reverse order.

In [18]:
s = input()
s= s[::-1]
print(s)

Hello
olleH

Please write a program which accepts a string from console and
print the characters that have even indexes.

In [19]:
s=input()
s = s[::2]
print (s)

H1e2l3l4o5w6o7r8l9d
Helloworld

Please write a program which prints all permutations of [1,2,3]

In [20]:
import itertools
print (list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

Write a program to solve a classic ancient Chinese puzzle:
We count 35 heads and 94 legs among the chickens and rabbits in a
farm. How many rabbits and how many chickens do we have?

In [21]:
def solve(numheads,numlegs):
  ns='No solutions!'
  for i in range(numheads+1):
    j=numheads-i
    if 2*i+4*j==numlegs:
      return i,j
  return ns,ns
numheads=35
numlegs=94
solutions=solve(numheads,numlegs)
print( solutions)

(23, 12)